*{
  box-sizing: border-box;
  background-color: var(--bgCol);
}

:root{
  --bgCol:  #f1f1f1;  /*  #f1f1f1 */
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.top-container {
  background-color: var(--bgCol);
  padding: 30px;
  text-align: center;
}

/* .header {
  padding: 10px 16px;
  background: #555;
  color: var(--bgCol);
  text-align:center;
  position:relative;
}  */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bgCol);
  color: #141414;
  /* border: 1px solid rgb(15, 15, 15); */
  padding: 10px;
  z-index: 5;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 
} 

.content {
  padding: 16px;
  margin-top: 35px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  /* border: 1px solid rgb(15, 15, 15); */
  margin: 50px;
}


.header-child {
    /* padding: 10px 16px; */
    background: #555;
    color: var(--bgCol);
    position:relative;
    margin:10px auto;
    display:inline-block;
  }

  a.btn, input.button {
    
    font-size: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.fixedbutton{
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #222122;
  border: none;
  color: white;
  padding: 15px 32px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-overflow: ellipsis;
  border-radius: 16px;
  width:70px;

}
.fixedheader{
  position: fixed;
  top: 0;
  right: 0;
  /* left: 0px; */
  background-color: #4cacaf;
  border: 1px solid black ;
  color: rgb(15, 15, 15);
  /* padding: 8px 16px;  */
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 12px;
  margin: 1px 1px;
  z-index: 5;
}

.prettybutton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 50px;
  }


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
