*{
  box-sizing: border-box;
  background-color: var(--bgCol);
}

:root{
  --bgCol:  #f1f1f1;  /*  #f1f1f1 */
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.top-container {
  background-color: var(--bgCol);
  padding: 30px;
  text-align: center;
}

.header {
  padding: 10px 16px;
  background: #555;
  color: var(--bgCol);
  text-align:center;
  position:relative;
}

.header-child {
    /* padding: 10px 16px; */
    background: #555;
    color: var(--bgCol);
    position:relative;
    margin:10px auto;
    display:inline-block;
  }

  a.btn, input.button {
    
    font-size: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.fixedbutton{
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

.prettybutton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.content {
  padding: 16px 32px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
