
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
  text-align:center;
  position:relative;
}

.header-child {
    /* padding: 10px 16px; */
    background: #555;
    color: #f1f1f1;
    position:relative;
    margin:10px auto;
    display:inline-block;
  }

  a.btn, input.button {
    
    font-size: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.prettybutton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.content {
  /*padding: 16px;*/
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
